/****************************
  Estilos globales 
****************************/

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Primary*/
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%); 
  --font-outfit: 'Outfit', sans-serif;
  --font-young-serif: 'Young Serif', serif;
  --border-r: 1.5rem;
}

body {
  background-color: var(--eggshell);
  font-family: var(--font-outfit);
  color: var(--wenge-brown);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

h1, h2 {
  font-family:var(--font-young-serif);
  color: var(--nutmeg);
  text-transform: capitalize;
  font-weight: 400;
}

h1 {
  color: initial;
}

img {
  width: 100%;
}

hr {
  opacity: .3;
  /* margin: 3rem 0; */
}

/************************
  CSS general
**************************/

.container{
    width: 750px;           /*QUITARLE EL ANCHO AL CONTENEDOR*/
    margin: 90px auto;         /*CENTRAR AL CENTRO DEL ESPACIO QUE QUEDA*/
    background-color: var(--white);        
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--light-grey);
}

.preparation{
    background-color: var(--rose-white);
    margin: 30px 0;
    padding: 30px 25px;
    border-radius: 20px;
}

.preparation h3{
    color: var(--dark-raspberry);
}

.list {
    margin-left: 25px;
    margin-top: 25px; 
}

.list li {
    padding: 4px;
    color: var(--dark-raspberry);
}

.list-brown li {
    color: var(--nutmeg);
    font-weight: 900;
}

.list li p {
    color: var(--wenge-brown);
    padding-left: 10px;
    font-weight: 400;
}

/* Falta los estilos de la tabla */
